
/* Your CSS Code here. */
.container{
	display:grid;
	border:5px solid limegreen;
	background-color:pink;
	width:100vw;
    gap:10px;
}
.r1c1{
	background-color:mediumseagreen;
}
.r2c2{
	background-color:firebrick;
}
.r2c1{
	background-color:tomato;
}
.r3c1{
	background-color:violet;
}
.r3c2{
	background-color:greenyellow;
}
.r2c3{
	background-color:lightcyan;
}
.r1c2{
	background-color:mediumpurple;
}
.row div{
	border:2px dotted grey;
	height:30vh;
}